<header class="jumbotron">
    <h1 class="mt-4">Employee List from DB</h1>
</header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% if (list.length > 0){ %>
            <% list.forEach(function(row){ %>
                <tr>
                    <td><%= row.name %></td>
                    <td><%= row.email %></td>
                    <td><%= row.phone %></td> 
                    <td>
                        <a href="/users/register/<%= row._id %>"><i class="fa fa-filter fa-lg" aria-hidden="true"></i></a>
                        <form action="/delete/<%= row._id %>?_method=DELETE" method="post">
                            
                            <button
                                type="submit"
                                onclick="return confirm('Are you sure you want to delete this record?')"><i
                                class="fa fa-trash fa-lg" aria-hidden="true"></i>
                            </button>
                        </form>        
                    </td>
                </tr>
            <% }) %>
        <% }else{ %>
            <tr>
                <td colspan="3">No Record Found</td>
            </tr>
        <% } %>
        
    </tbody>
</table>


<a href="/dashboard" class="btn btn-secondary">Go Back</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a> 